%li.event-item.clearfix.span6
  .event-date
    %time= workshop.date
    %small= workshop.place_name
  %br.clearfix/
  .event-entry.text-center
    %h3.entry-title= workshop.title
    - if workshop.leaders.size > 1
      .span1
      - workshop.leaders.each do |lead|
        .span2
          %p.lead
            = lead.name
            .photo-wrap
              = image_tag("/assets/speakers/#{lead.picture}", width: 50)
    - else
      - workshop.leaders.each do |lead|
        %p.lead
          = lead.name
          .photo-wrap
            = image_tag("/assets/speakers/#{lead.picture}", width: 50)

    .event-image
      %img{:alt => workshop.title, :src => "/assets/workshops/#{workshop.logo}"}
  .entry-content
    - workshop.description.each do |paragraph|
      %p= paragraph

