.span12
  .module-header.sponsors-header
    %h4= t('section.sponsors')
.span12.hero-unit.text-center
  %h2= t('sponsors.slogan')
  %p
    %strong
      = t('sponsors.join_us')
  %p
    = link_to t('sponsors.link.text'), t('sponsors.link.url')
  = image_tag("/assets/layout/pinguin.png", style: "width: 55%; max-width: 400px; padding-top: 2em;")
-#.span12.text-center
  -#.subheader
-#    %h4 Main Sponsors
-#  /
-#/ end span12
-#.span4.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/01.png"}/
-#.span4.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/02.png"}/
-#.span4.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/03.png"}/
-#.span12
-#  .subheader
-#    %h4 Collaborators
-#  /
-#/ end span12
-#.span3.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/04.png"}/
-#.span3.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/05.png"}/
-#.span3.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/06.png"}/
-#.span3.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/07.png"}/
-#.span12
-#  .subheader
-#    %h4 Media Sponsors
-#  /
-#/ end span12
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/08.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/09.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/10.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/11.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/12.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/13.png"}/
