.span12
  .module-header.sponsors-header
    %h4= t('section.sponsors')
.span12.hero-unit.text-center
  %h2= t('sponsors.slogan')
  %p
    %strong
      = t('sponsors.join_us')
  %p
    = link_to t('sponsors.link.text'), t('sponsors.link.url')

.divider-space

#gold.text-center
  .span12#selleo
    .span5
      = link_to 'http://bit.ly/1o5JRCp', target: :blank do
        = image_tag('/assets/sponsors/logo/selleo.png')
    .span6
      .sponsor-description{style: 'margin-top: 5em; margin-bottom: 1em;'}
        - I18n.t('sponsors.sponsors.gold.selleo.description').each do |paragraph|
          %p= paragraph
  .span12#microsoft_openness
    .span6
      .sponsor-description{style: 'margin-top: 5em; margin-bottom: 1em;'}
        - I18n.t('sponsors.sponsors.gold.microsoft_openness.description').each do |paragraph|
          %p= paragraph
    .span5
      = link_to 'http://bit.ly/1k8KiOR', target: :blank do
        = image_tag('/assets/sponsors/logo/microsoft_openness.png')

#bronze.text-center
  .span4#jetbrains
    = link_to 'https://bit.ly/NZW9BC', target: :blank do
      = image_tag('/assets/sponsors/logo/jetbrains.png')
  .span4#helion
    = link_to 'http://bit.ly/1bLJ6hC', target: :blank do
      = image_tag('/assets/sponsors/logo/helion.png')
  .span4#aip
    = link_to 'http://bit.ly/1ew2xWu', target: :blank do
      = image_tag('/assets/sponsors/logo/aip.png')


-#.span12.text-center
  -#.subheader
-#    %h4 Main Sponsors
-#  /
-#/ end span12
-#.span4.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/01.png"}/
-#.span4.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/02.png"}/
-#.span4.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/03.png"}/
-#.span12
-#  .subheader
-#    %h4 Collaborators
-#  /
-#/ end span12
-#.span3.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/04.png"}/
-#.span3.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/05.png"}/
-#.span3.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/06.png"}/
-#.span3.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/07.png"}/
-#.span12
-#  .subheader
-#    %h4 Media Sponsors
-#  /
-#/ end span12
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/08.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/09.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/10.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/11.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/12.png"}/
-#.span2.text-center
-#  %a{:href => "#"}
-#    %img.sponsor-logo{:alt => "", :src => "/assets/6269713/sponsors/13.png"}/
