= link_to t('sections.sponsors.sponsorship_booklet_path') do
  = image_tag("sponsors/sponsorship_booklet_#{I18n.locale}.png")
= image_tag('sponsors/all_sponsors_packages.png', style: 'padding-top: 4em;')
-#- %w(ruby gold silver bronze).each do |package|
-#  = render "sponsors/#{package}"