.row
  .col-md-6.col-md-offset-3
    %h3= t('sections.agenda.the_saturday')

    %table.agenda.table
      %tbody
        %tr.breakfast
          %td 8:30 - 9:45
          %td{colspan: 2}= t('sections.agenda.breakfast')
        %tr
          %td.table-time 9:45 - 10:00
          %td.table-speaker Dariusz Wylon
          %td.table-topic= t('sections.agenda.hello')
        %tr
          %td 10:00 - 11:00
          %td TBA
          %td KEYNOTE
        %tr.break
          %td 11:00 - 11:30
          %td{colspan: 2}= t('sections.agenda.break')
        %tr
          %td 11:30 - 11:50
          %td
          %td
        %tr
          %td 11:50 - 12:10
          %td
          %td
        %tr
          %td 12:10 - 12:30
          %td
          %td
        %tr.lunch_break
          %td 12:30 - 13:30
          %td{colspan: 2}= t('sections.agenda.lunch_break')
        %tr
          %td 13:30 - 13:50
          %td
          %td
        %tr
          %td 13:50 - 14:10
          %td
          %td
        %tr
          %td 14:10 - 14:30
          %td
          %td
        %tr.break
          %td 14:30 - 15:00
          %td{colspan: 2}= t('sections.agenda.break')
        %tr
          %td 15:00 - 16:00
          %td{colspan: 2}= t('sections.agenda.lightning_talks')
        %tr.break
          %td 16:00 - 16:30
          %td{colspan: 2}= t('sections.agenda.break')
        %tr
          %td 16:30 - 16:50
          %td
          %td
        %tr
          %td 16:50 - 17:10
          %td
          %td
        %tr
          %td 17:10 - 17:30
          %td
          %td
        %tr
          %td 18:00 - 19:00
          %td TBA
          %td KEYNOTE
