.span12
  .module-header.about-header
    %h4= t('section.about')
- i18n_scope = [:about, :info]
.span12.hero-unit.text-center
  %h1= t(:header, scope: i18n_scope)
  %h3
    %time{:datetime => "2014-03-28"} 28
    \-
    %time{:datetime => "2014-03-30"} 30
    = t(:month, scope: i18n_scope)
    2014, Bielsko-Biała
  -# some qutations here would be nice :-)
.span12
  .divider-space
- {idea: 'lightbulb', community: 'world', workshop: 'beaker'}.each_with_index do |(key_factor, icon), index|
  .span4.text-center
    %div{class: "icon-wrap large color#{index+1}"}
      %i{class: "iconf-#{icon}"}
    %h3= t("#{key_factor}.header", scope: i18n_scope)
    %p= t("#{key_factor}.message", scope: i18n_scope)

-#
-#SKORZYSTAJ Z WIEDZY TYCH WSPANIAŁYCH LUDZI
-#
-#AGENDA
-#
-#zostawiłabym tak jak jest...
-#
-#WARSZTATY
-#
-#to prowadzący powinni przygotować opis...
-#
-#MIEJSCE
-#
-#tak jak jest teraz - bez tekstu pod spodem
-#ew. można napisać Już po raz … ATH gości w swoich murach konferencję.
-#pod warunkiem, że wiesz który raz :P
-#
-#i adres 43-309 Bielsko-Biała, ul. Willowa 2
-#
-#DOJAZD:
-#
-#Do Bielska - Białej kursują bezpośrednie pociągi z Katowic, Krakowa, Gdańska i Wrocławia. aktualny rozkład jazdy dostępny tutaj (link do: http://www.rozklad-pkp.pl/bin/query.exe/pn?)
-#
-#
-#SAMOCHODEM (nie wiem czy jest sens ...każdy albo wpisze w gps adres albo sprawdzi sobie na google maps przed wyjazdem)
-#
-#Od strony Wrocławia, Katowic, Krakowa (trzy najważniejsze kierunki)
-#mapka (nie ma sensu opisywać drogi)
-#
-#AUTOBUSEM
-#
-#Przystanek Bystrzańska/Willowa 10 , 57
-#
-#Z centrum Bielska - Białej, przystanek Piastowska Dworzec linia 10
-#                przystanek Warszawska Dworzec, linia 57
-#
-#(udostępniłam Ci mapkę google)
-#
-#NOCLEGI
-#
-#Hotel Na Błoniach
-#Pocztowa 39, 43-300 Bielsko-Biala
-#http://www.booking.com/hotel/pl/na-bloniach-bielsko-biala.en-gb.html?sid=e1d866bbfacf5a29b0378ee7639f649c;dcid=1
-#
-#Ośrodek Sportowo-Szkoleniowy Rekord
-#ul.Startowa 13, 43-300 Bielsko-Biala
-#http://www.booking.com/hotel/pl/osrodek-sportowo-szkoleniowy-rekord.en-gb.html?sid=e1d866bbfacf5a29b0378ee7639f649c;dcid=1
-#
-#Beskid u Tomery
-#ul. Olszówka 24, 43-309 Bielsko-Biala
-#http://www.booking.com/hotel/pl/beskid-u-tomery-bielsko-biala.en-gb.html?sid=e1d866bbfacf5a29b0378ee7639f649c;dcid=1
-#
-#nie wiem czy podawać odległości i ceny…?
-#
-#
-#SPONSORZY
-#
-#PARTNERZY
-#
-#PATRONI MEDIALNI
-#
-#KONTAKT
-#
-#Masz pytania? Wątpliwości? Napisz do nas (fundacja@mikstura.it), lub odezwij się na Fb T G+ (znaczki/linki)
-#
-#NEWSLETTER
-#
-#Chcesz być na bieżąco? Zapisz się do naszego newslettera!
