.span12
  .module-header.about-header
    %h4= t('section.about')
    %br
    =image_tag('/assets/layout/dwo.png', alt: "DWO '14")
    =image_tag('/assets/layout/dwo_2014.png', alt: "DWO '14", style: "display: none;")
- i18n_scope = [:about, :info]
.span12.hero-unit.text-center
  %h1= t(:header, scope: i18n_scope)
  %h3
    %time{:datetime => "2014-03-28"} 28
    \-
    %time{:datetime => "2014-03-30"} 30
    = t(:month, scope: i18n_scope)
    2014, Bielsko-Biała
  -# some qutations here would be nice :-)
.span12.text-center
  %iframe{style: "width: 640; height: 360; max-width: 80%;", src: '//www.youtube.com/embed/aWfCKHDdRKk', frameborder: 0, allowfullscreen: 1}
.span12
  .divider-space
- {idea: 'lightbulb', community: 'world', workshop: 'beaker'}.each_with_index do |(key_factor, icon), index|
  .span4.text-center
    %div{class: "icon-wrap large color#{index+1}"}
      %i{class: "iconf-#{icon}"}
    %h3= t("#{key_factor}.header", scope: i18n_scope)
    %p= t("#{key_factor}.message", scope: i18n_scope)
