.span12
  .module-header.venue-header
    %h4= t('section.venue')
.span12.hero-unit.text-center.white
  %h4= t('venue.take_place')
  %h2= t('venue.ath')
  %p= t('venue.ath_address')
.span12
  .subheader
    %h4= t('venue.getting_there.header')
- %w(users road map).each_with_index do |type, index|
  - i18n_scope = [:venue, :getting_there, type]
  .span4.text-center
    .icon-wrap.medium{class: "color#{index+1}"}
      %i{class: "iconf-#{type}"}
    %h3= t(:header, scope: i18n_scope)
    %p
      = t(:description, scope: i18n_scope)
      - if I18n.exists?(i18n_scope + [:external_link])
        %br
        = link_to t(:text, scope: i18n_scope + [:external_link]), t(:link, scope: i18n_scope + [:external_link])


