-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to '#home', class: 'navbar-brand' do
        = image_tag('layout/dwo-logo-small.png')
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        - %w(venue speakers sponsors agenda).each do |section|
          %li= link_to t(section), "##{section}"
        = link_to "#get_a_ticket" do
          %button.btn.btn-danger.btn-xs
            = t(:get_a_ticket).upcase
