!!!
%html{:lang => "en"}
  %head
    / Basic Page Needs
    %meta{:charset => "utf-8"}/
    %title Eventify
    / Metas
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "author"}/
    / Mobile Specific Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Stylesheets
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Favicon and touch icons
    %link{:href => "/assets/layout/touch/iphone.png", :rel => "apple-touch-icon"}/
    %link{:href => "/assets/layout/touch/ipad.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/assets/layout/touch/iphone-retina.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/assets/layout/touch/ipad-retina.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/assets/layout/favicon.ico", :rel => "shortcut icon"}/
  %body
    %header#topbar.top-bar
      .container
        .row
          .span12
            %a.logo.pull-left{:href => "#intro", :title => "Eventify"}
              %span
            .navbar.main-nav.pull-right
              %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %nav
                .nav-collapse.collapse
                  = render partial: 'layouts/navigation'

    %section#intro
      .container
        = render partial: 'about/intro'

    = render partial: 'about/register_modal'

    %section#about
      .container
        .row
          = render partial: 'about/info'

    %section#register
      .container
        .row
          = render partial: 'about/register'

    %section#speakers
      .container
        .row
          = render partial: 'speakers/index'

    %section#schedule
      .container
        .row
          = render partial: 'schedule/index'

    %section#workshops
      .container
        .row
          = render partial: 'workshops/index'

    %section#venue.white
      .container
        .row
          = render partial: 'venue/index'

    %section#map
      #map_canvas

    %section#sponsors
      .container
        .row
          = render partial: 'sponsors/index'

    =# render partial: 'news/blog'

    %section#twitter-feed
      .container
        .row
          = render partial: 'news/twitter'

    %section#contact.white
      .container
        .row
          = render partial: 'contact_us/index'

    %section#newsletter
      .container
        .row
          = render partial: 'news/mailchimp'

    %footer#footer
      .container
        .row
          = render partial: 'layouts/footer'

    = render partial: 'layouts/javascripts'
