!!!
%html{:lang => "en"}
  %head
    %title= t('title')
    = render partial: 'layouts/meta'
  %body
    %header#topbar.top-bar
      .container
        .row
          .span12
            %a.logo.pull-left{:href => "#intro", :title => "DWO"}
              %span
            .navbar.main-nav.pull-right
              %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %nav
                .nav-collapse.collapse
                  = render partial: 'layouts/navigation'

    %section#intro
      .container
        = render partial: 'about/intro'

    = render partial: 'about/register_modal'

    %section#about
      .container
        .row
          = render partial: 'about/info'

    %section#register
      .container
        .row
          = render partial: 'about/register'

    %section#speakers
      .container
        .row
          = render partial: 'speakers/index'

    %section#schedule
      .container
        .row
          = render partial: 'schedule/index'

    %section#workshops
      .container
        .row
          = render partial: 'workshops/index'

    %section#venue.white
      .container
        .row
          = render partial: 'venue/index'

    %section#map
      #map_canvas

    %section#sponsors
      .container
        .row
          = render partial: 'sponsors/index'

    =# render partial: 'news/blog'

    -#%section#twitter-feed
    -#  .container
    -#    .row
    -#      = render partial: 'news/twitter'

    %section#contact.white
      .container
        .row
          = render partial: 'contact_us/index'

    -#%section#newsletter
    -#  .container
    -#    .row
    -#      = render partial: 'news/mailchimp'

    %section#social_media
      .container
        .row
          = render partial: 'news/social_media_big'

    %section#team
      .container
        .row
          = render partial: 'team/index'

    %footer#footer
      .container
        .row
          = render partial: 'layouts/footer'

    = render partial: 'layouts/javascripts'
